<section class="hero-container">
  <img src="assets/foto-perfil.jpg" alt="Foto de Alicia Caparrós" class="hero-photo">

  <h1 class="name">Alicia Caparrós Masiá</h1>
  <p class="subtitle">{{ t().hero_subtitle }}</p>
  
  <div class="cta-buttons">
    <a href="https://www.linkedin.com/in/alicia-caparros-masia-39aa6a357" target="_blank" rel="noopener noreferrer" class="cta-button">
      {{ t().hero_button }}
    </a>
    <a href="assets/cv-alicia-caparros_portfolio.pdf" download class="cta-button"> {{ t().hero_cv_button }}
    </a>
  </div>
</section>